body {
  background-color: #ede7d9;
}

#tartalom {
  background-color: #009ddc;
  width: 500px;
  height: 400px;
  border-radius: 10px;
  margin: 40px auto;
  text-align: center;
}

button {
  margin-top: 20px;
  height: 40px;
  width: 80px;
  background-color: #00bfb3;
  border: 1px solid black;
  border-radius: 5px;
}

#kiir {
  background-color: #00bfb3;
  height: 80px;
  line-height: 80px;
  margin-top: 40px;
  font-size: 18pt;
}
