body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

#tarolo {
  background-color: #c3b59f;
  width: 800px;
  min-height: 300px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

table {
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.gomb {
  text-align: center;
}

input {
  height: 30px;
  font-size: 12pt;
}

button {
  background-color: #ef3054;
  color: white;
  width: 200px;
  height: 30px;
  border: 1px solid black;
  font-size: 12pt;
}

button:hover {
  background-color: white;
  color: #ef3054;
}
